@import 'tailwindcss';

/* 1. Definición de variables base y de eventos */
:root {
  --background: #ffffff;
  --foreground: #111827; /* slate-900 */
  --font-sans: var(--font-arimo);
  --font-serif: var(--font-libre-baskerville);

  /* Color primario por defecto (Azul institucional) */
  --primary: #2f86cc;
  --primary-hover: #256ea8;
}

/* 2. Sobreescritura en modo oscuro */
.dark {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */

  --primary: #2f86cc;
  --primary-hover: #3b93df;
}

/* 3. Tema especial para eventos (Ej: Festival de Colonias) */
.theme-colonias {
  --primary: #d97706; /* Ámbar / Dorado llanero */
  --primary-hover: #b45309;
}

/* 4. Mapeo al motor de Tailwind v4 */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);

  /* Nuevos tokens dinámicos para el tema */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
}

/* 5. Aplicación global */
@layer base {
  *,
  ::after,
  ::before {
    border-color: var(--color-slate-200);
  }

  .dark *,
  .dark ::after,
  .dark ::before {
    border-color: var(--color-slate-800);
  }

  a {
    cursor: pointer;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
  }
}
