@import 'tailwindcss';

/* 1. Definición de variables */
:root {
  --background: #ffffff;
  --foreground: #111827; /* slate-900 */
  --font-sans: var(--font-arimo);
  --font-serif: var(--font-libre-baskerville);
}

/* 2. Sobreescritura en modo oscuro */
.dark {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
}

/* 3. Mapeo al motor de Tailwind v4 */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

/* 4. Aplicación global */
@layer base {
  *,
  ::after,
  ::before {
    border-color: var(--color-slate-200);
  }

  .dark *,
  .dark ::after,
  .dark ::before {
    border-color: var(--color-slate-800);
  }

  a {
    cursor: pointer;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
  }
}
